/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
}

/* HLAVICKA */

.titulek {
  font-family: "Raleway", serif;
}
.hlavicka {
  background-image: url(images/island-hlavicka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  /* transform: translate(-50%, -50%); */
  text-shadow: whitesmoke;
  /* max-width: 500px; */
  height: auto;
  resize: both;
  overflow: scroll;
}

img {
  max-width: 100%;
}

.autor {
  font-style: italic;
}
/* MENU */

.menu li {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px rgb(201, 193, 193);
}

.menu {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  width: 100%;
}
li {
  display: block;
}

ul {
  padding: 0;
}
.menu a {
  text-decoration: none;
  color: rgb(201, 193, 193);
}
/* OBSAH */
.popisek {
  color: gray;
  font-family: "Raleway", serif;
  text-align: center;
}
.popisek a {
  /* text-decoration: none; */
  color: gray;
}

h2 {
  font-family: "Raleway", serif;
}
/* FOTOGALERIE */

.galerie img {
  width: 500px;
}
.foto .popisek {
  font-weight: bold;
}
.foto .popisek-copy {
  font-weight: normal;
}
/* PATICKA */
.paticka {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(212, 206, 206) 95%,
    rgb(196, 193, 191) 100%
  );
  color: gray;
  padding: 2em;
  font-size: 80%;
}

/* [href="http://cestovani.idnes.cz/island-a-roman-pech-0nh-/kolem-sveta.aspx?c=A140519_125122_kolem-sveta_tom"]
{
  text-decoration: none;
} */

.paticka [href^="http://"]
{
  color: gray;
}
.paticka a {
  color: grey;
}
