/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
}

/* HLAVICKA */

.titulek {
  font-family: "Raleway", serif;
}
.hlavicka {
  background-image: url(images/island-hlavicka.jpg);
  filter: brightness(90%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  /* transform: translate(-50%, -50%); */
  text-shadow: whitesmoke;
  /* max-width: 500px; */
  height: auto;
  resize: both;
  overflow: scroll;
}

.autor:before {
  content: "";
  background-color: whitesmoke;
  width: 60px;
  height: 2px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.autor {
  padding: 10px;
}
img {
  max-width: 100%;
}

.autor {
  font-style: italic;
}
/* MENU */

.menu li {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px rgb(201, 193, 193);
}

.menu {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  width: 100%;
}
@media (min-width: 500px) {
  .menu li {
    width: 25%;
    float: left;
    margin: auto;
    text-align: center;
    border-left: solid 1px rgb(201, 193, 193);
    border-top: solid 1px rgb(201, 193, 193);
    margin-bottom: 3em;
  }
  .menu li:first-child {
    border-left: none;
  }
}

li {
  display: block;
}

ul {
  padding: 0;
}
.menu a {
  text-decoration: none;
  color: rgb(201, 193, 193);
}
/* OBSAH */
.popisek {
  color: gray;
  font-family: "Raleway", serif;
  text-align: center;
}
.popisek a {
  /* text-decoration: none; */
  color: gray;
}

h2 {
  font-family: "Raleway", serif;
}

h2:after {
  content: "";
  background-color: rgb(13, 155, 211);
  width: 60px;
  height: 4px;
  display: block;
  margin-top: 5px;
}
/* FOTOGALERIE */

.galerie img {
  width: 500px;
}
@media (min-width: 500px) {
  .galerie img {
    position: relative;
    margin: 0;
    overflow: hidden;
    float: left;
    width: calc(100% / 2);
  }
}

@media (min-width: 500px) {
  .popisek {
    position: relative;
    bottom: 60px;
    color: white;
    right: 20px;
    width: 100%;
    text-align: right;
  }
  .popisek a {
    color: white;
    text-decoration: none;
  }
  .foto .popisek {
    display: none;
  }
}

.foto .popisek {
  font-weight: bold;
}
.foto .popisek-copy {
  font-weight: normal;
}
/* PATICKA */
.paticka {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(212, 206, 206) 95%,
    rgb(196, 193, 191) 100%
  );
  color: gray;
  padding: 2em;
  font-size: 80%;
}
@media (min-width: 500px) {
  .paticka {
    clear: both;
  }
}

/* [href="http://cestovani.idnes.cz/island-a-roman-pech-0nh-/kolem-sveta.aspx?c=A140519_125122_kolem-sveta_tom"]
{
  text-decoration: none;
} */

.paticka [href^="http://"]
{
  color: gray;
}
.paticka a {
  color: grey;
}

/* pro PC */
h1 {
  font-size: 3em;
}
@media (min-width: 1000px) {
  .kontejner {
    width: 960px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;
  }
  .menu {
    display: block;
    flex-direction: row;
  }
  .menu li {
    display: block;
    float: none;
    margin-bottom: 0;
    width: 80%;
    text-align: left;
    border-bottom: solid 1px rgb(201, 193, 193);
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .horni-blok {
    display: flex;
    padding: 2em;
  }
  .horni-blok p:first-child {
    margin-top: 0;
  }
  .menu {
    align-content: flex-start;
    text-align: left;
  }
  .horni-blok p {
    padding-left: 2em;
  }
  .autor {
    margin-bottom: 40px;
  }
  .prostredni-blok {
    padding-left: 213px;
  }
  .galerie .foto {
    margin: 0;
    float: left;
    width: 320px;
    height: 180px;
    background-color: salmon;
  }

  .galerie .foto img {
    width: 320px;
  }

  .popisek {
    position: relative;
    bottom: 60px;
    color: white;
    right: 20px;
    width: 100%;
    text-align: right;
  }

  .foto .popisek {
    display: none;
    color: white;
    font-size: 80%;
    position: relative;
    bottom: 50px;
    right: 20px;
  }
  .foto .popisek a {
    color: white;
    text-decoration: none;
    font-size: 80%;
  }

  .foto:hover .popisek {
    display: block;
  }
}
@media (min-width: 1000px) {
  .kontejner {
    width: 960px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;
  }
  .menu {
    display: block;
    flex-direction: row;
  }
  .menu li {
    display: block;
    float: none;
    margin-bottom: 0;
    width: 80%;
    text-align: left;
    border-bottom: solid 1px rgb(201, 193, 193);
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .horni-blok {
    display: flex;
    padding: 2em;
  }
  .horni-blok p:first-child {
    margin-top: 0;
  }
  .menu {
    align-content: flex-start;
    text-align: left;
  }
  .horni-blok p {
    padding-left: 2em;
  }
  .autor {
    margin-bottom: 40px;
  }
  .prostredni-blok {
    padding-left: 213px;
  }
  .galerie .foto {
    margin: 0;
    width: 320px;
  }

  .popisek {
    position: relative;
    bottom: 60px;
    color: white;
    right: 20px;
    width: 100%;
    text-align: right;
  }
  .popisek a {
    color: white;
    text-decoration: none;
  }
  .galerie {
    /* background-color: salmon; */
  }
  .foto .popisek {
    display: none;
    color: white;
    font-size: 80%;
    position: relative;
    bottom: 50px;
    right: 20px;
  }
  .foto .popisek a {
    color: white;
    text-decoration: none;
    font-size: 80%;
  }
  .foto:hover .popisek {
    display: block;
  }
}
